<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Détail du séjour</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<p style="text-align:center ;">
  {{traveltest.name}}
</p>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon name="accessibility-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="bed-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="globe" (click)='openFormWay()'  color="warning"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

<ion-accordion-group  *ngFor="let item of travelDetails; index as i;">
  <ion-accordion value=""  *ngIf="travelDetails">
    <ion-icon name="globe"></ion-icon>
    <ion-item slot="header" color="light">
      <ion-icon class="ion-padding-end" name="globe" color="warning"></ion-icon>
      <ion-label> {{item.date | date: 'dd.MM.YY à HH:mm'}}  {{item.transport}}  {{item.departure}}  </ion-label>

    </ion-item>
    <div class="ion-padding" slot="content">
      <p>Départ : {{item.date | date: 'dd.MM.yyyy à HH:mm'}} {{item.departure}}</p> 
      <p>Arrivée : {{item.arrival}} </p> 
      <p>Durée du voyage : {{item.traveltime}}</p>
    
      <ion-card *ngIf="item.coordinates" (click)="openMap()">
        <ion-card-header>
          <ion-card-title>Localisation</ion-card-title>
          <ion-card-subtitle>click !</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          {{coordinates.locality}}
        </ion-card-content>
      </ion-card>

      <ion-button color="primary" (click)="geoLocalise(item)">Geolocalisation</ion-button>

    </div>
  </ion-accordion>
</ion-accordion-group>
</ion-content>
