<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Annuler</ion-button>
    </ion-buttons>
    <ion-title>Mon séjour</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()">Valider</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="stacked">Nom du séjour</ion-label>
    <ion-input [(ngModel)]="name" placeholder=""></ion-input>
  </ion-item>
</ion-content>